# <center>Project-Based Assignment CLO-2</center>

<b>Topik</b>
Implementation of Supervised Learning on Regression Task

<b>Anggota Kelompok</b>
1. Rizal Nur Arbaatun - 1301210044
2. Galih Akbar Nugraha - 1301213060
3. Muhammad Abiya Makruf - 1301213157

## Latar Belakang

Penggunaan model Machine Learning dalam berbagai bidang telah menjadi tren yang signifikan dalam pengembangan teknologi modern. Salah satu aplikasi yang sangat menarik adalah dalam pemodelan kebiasaan siswa menggunakan model Artificial Neural Network (ANN). Penelitian terkait ini didasarkan pada pengolahan data kebiasaan siswa, yang dapat memberikan wawasan penting bagi institusi pendidikan, guru, dan orang tua dalam mengoptimalkan lingkungan belajar siswa, meningkatkan hasil akademik, dan mendukung pertumbuhan holistik siswa.

Kebiasaan siswa adalah faktor kunci yang memengaruhi kinerja akademik mereka. Kebiasaan belajar, rutinitas, dan gaya belajar adalah beberapa aspek utama yang memengaruhi nilai siswa. Dengan mengumpulkan dan menganalisis data tentang kebiasaan siswa, kita dapat mengidentifikasi pola dan korelasi yang dapat membantu memahami faktor-faktor yang memengaruhi nilai mereka.

Pengolahan data kebiasaan siswa dimulai dengan pengumpulan data yang mencakup berbagai variabel, seperti waktu belajar, hubungan keluarga, nilai di sekolah dan banyak faktor lainnya yang relevan.Data kemudian diolah untuk menghilangkan noise atau gangguan yang tidak diinginkan dan disesuaikan agar dapat digunakan dalam analisis. Dalam tahap analisis, metode statistik dan algoritma pembelajaran mesin digunakan untuk mengidentifikasi pola dan korelasi dalam data set.

Setelah data telah dipersiapkan, langkah berikutnya adalah menerapkan model Machine Learning ANN, untuk menganalisis data tersebut. ANN adalah jenis model Machine Learning yang tepat untuk tugas ini karena kemampuannya dalam mengidentifikasi pola kompleks dalam data. Dengan menggunakan model ANN kita dapat memprediksi nilai akhir siswa berdasarkan kebiasaan mereka dan nilai sebelum-sebelumnya.

Penerapan model ANN dalam analisis kebiasaan siswa memiliki manfaat potensial yang besar dalam dunia pendidikan. Ini dapat membantu guru dan institusi pendidikan dalam merancang strategi pembelajaran yang lebih efektif, mengidentifikasi siswa yang mungkin memerlukan bantuan tambahan, dan mengukur dampak dari perubahan dalam kebijakan pendidikan. Selain itu, model ini dapat memberikan wawasan berharga kepada orang tua untuk mendukung anak-anak mereka dalam perjalanan pendidikan mereka.

Dalam rangka mencapai tujuan tersebut, penting untuk melakukan penelitian yang mendalam dalam pengembangan model ANN untuk analisis kebiasaan siswa. Dengan mengintegrasikan teknologi Machine Learning ke dalam pendidikan, kita dapat menciptakan lingkungan belajar yang lebih adaptif dan terpersonalisasi, yang pada akhirnya dapat meningkatkan hasil akademik siswa dan memberikan manfaat yang signifikan dalam sektor pendidikan.

## Eksplorasi Data

### Load Dataset

#### Import

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
import tensorflow as tf
from sklearn.model_selection import KFold

# Styling figures
plt.rc('font',size=14)
sns.set(style='white')
sns.set(style='whitegrid',color_codes=True)

#### Read data

Download dataset

In [8]:
!gdown 172TQNe3kZYs3d6UWqVOXY_UrH5_KwFEf #student-por.csv
!gdown 1_szeC9LZJxyUfdVX9ThmEjgMrkcD3xzd #student-mat.csv

zsh:1: command not found: gdown

zsh:1: command not found: gdown

Read dataset

In [13]:
df = pd.read_csv('./content/student-por.csv',sep=";")
# df = pd.read_csv('./content/student-mat.csv',sep=";")

#### Analisis Data

Menampilkan jumlah kolom dan tipe data masing masing kolom

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      649 non-null    object
 1   sex         649 non-null    object
 2   age         649 non-null    int64
 3   address     649 non-null    object
 4   famsize     649 non-null    object
 5   Pstatus     649 non-null    object
 6   Medu        649 non-null    int64
 7   Fedu        649 non-null    int64
 8   Mjob        649 non-null    object
 9   Fjob        649 non-null    object
 10  reason      649 non-null    object
 11  guardian    649 non-null    object
 12  traveltime  649 non-null    int64
 13  studytime   649 non-null    int64
 14  failures    649 non-null    int64
 15  schoolsup   649 non-null    object
 16  famsup      649 non-null    object
 17  paid        649 non-null    object
 18  activities  649 non-null    object
 19  nursery     649 non-null    object
 20  higher      649 non-null    object
 21  internet    649 non-null    object
 22  romantic    649 non-null    object
 23  famrel      649 non-null    int64
 24  freetime    649 non-null    int64
 25  goout       649 non-null    int64
 26  Dalc        649 non-null    int64
 27  Walc        649 non-null    int64
 28  health      649 non-null    int64
 29  absences    649 non-null    int64
 30  G1          649 non-null    int64
 31  G2          649 non-null    int64
 32  G3          649 non-null    int64
dtypes: int64(16), object(17)
memory usage: 167.4+ KB

Menampilkan lima data awal

In [11]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

Menampilkan lima data

In [12]:
df.describe().T

            count       mean       std   min   25%   50%   75%   max
age         649.0  16.744222  1.218138  15.0  16.0  17.0  18.0  22.0
Medu        649.0   2.514638  1.134552   0.0   2.0   2.0   4.0   4.0
Fedu        649.0   2.306626  1.099931   0.0   1.0   2.0   3.0   4.0
traveltime  649.0   1.568567  0.748660   1.0   1.0   1.0   2.0   4.0
studytime   649.0   1.930663  0.829510   1.0   1.0   2.0   2.0   4.0
failures    649.0   0.221880  0.593235   0.0   0.0   0.0   0.0   3.0
famrel      649.0   3.930663  0.955717   1.0   4.0   4.0   5.0   5.0
freetime    649.0   3.180277  1.051093   1.0   3.0   3.0   4.0   5.0
goout       649.0   3.184900  1.175766   1.0   2.0   3.0   4.0   5.0
Dalc        649.0   1.502311  0.924834   1.0   1.0   1.0   2.0   5.0
Walc        649.0   2.280431  1.284380   1.0   1.0   2.0   3.0   5.0
health      649.0   3.536210  1.446259   1.0   2.0   4.0   5.0   5.0
absences    649.0   3.659476  4.640759   0.0   0.0   2.0   6.0  32.0
G1          649.0  11.399076  2.745265   0.0  10.0  11.0  13.0  19.0
G2          649.0  11.570108  2.913639   0.0  10.0  11.0  13.0  19.0
G3          649.0  11.906009  3.230656   0.0  10.0  12.0  14.0  19.0

In [1]:
# Data Preprocessing
# Write your code here

## Eksplorasu Kode

## Ringkasan Metode
Silahkan double click cell ini dan tulis ringkasan metode!

In [3]:
# Baseline Model
# Write your code here

In [4]:
# Model Exploration (at least 3 scheme)
# Write your code here

In [5]:
# Evaluation
# Write your code here

## Hasil dan Analisis
Silahkan double click cell ini dan tulis hasil dan analisis!

## Kesimpulan
Silahkan double click cell ini dan tulis kesimpulan!